<nav>
    <div class="nav-left">
        <button class="item menu"><span>•••</span></button>
        <a class="item arcade" href="/"><span><%=t.arcade%></span></a>
        <a class="item mult"><span><%=t.multiplayer%></span></a>
        <a class="item rank"><span><%=t.rank%></span></a>
    </div>
    <div class="nav-center">
        <span class="logo-text">Typerist</span>
    </div>
    <div class="nav-right">
        <% if (user) { %>
            <div class="user-info">
                <a class="item user"><span>Olá,</span><strong><%= user.nickname%></strong></a>
                <a href="/logout" class="item logout"><%=t.leave%></a>
            </div>
        <% } else { %>
            <a href="/login" class="item nav-login"><span><%=t.login%></span></a>
            <a href="/register" class="item nav-register"><span><%=t.register%></span></a>
        <% } %>
    </div>
    <div class="menu-config hidden">
        <div class="categories-config">
            <span>☺</span>
        </div>
        <div class="options-config">
            <h2>CONFIGURAÇÕES</h2>
            <h2>Gráficos</h2>
            <div class="interface-config section">
                <label class="config-option" for="cfg-parallax">
                    <span>Parallax</span>
                    <input type="checkbox" class="config-checkbox" id="cfg-parallax" data-config="parallax">
                    <span class="config-switch"></span>
                </label>
                <label class="config-option" for="cfg-firefly">
                    <span>Vagalumes</span>
                    <input type="checkbox" class="config-checkbox" id="cfg-firefly" data-config="firefly">
                    <span class="config-switch"></span>
                </label>
                <label class="config-option" for="cfg-explosion">
                    <span>Explosões</span>
                    <input type="checkbox" class="config-checkbox" id="cfg-explosion" data-config="explosion">
                    <span class="config-switch"></span>
                </label>
            </div>
        </div>
        <div class="close-config">

        </div>
    </div>
    <script src="assets/js/nav.bundle.js"></script>
</nav>
