<nav>
    <div class="nav-left">
        <button class="item menu"><span>•••</span></button>
        <a class="item arcade" href="/"><span><%=t.arcade%></span></a>
        <a class="item mult"><span><%=t.multiplayer%></span></a>
        <a class="item rank"><span><%=t.rank%></span></a>
    </div>
    <div class="nav-center">
        <span class="logo-text">Typerist</span>
    </div>
    <div class="nav-right">
        <% if (user) { %>
            <div class="user-info">
                <a class="item user"><span>Olá</span>, <strong><%= user.nickname%></strong></a>
                <a href="/logout" class="item logout"><%=t.leave%></a>
            </div>
        <% } else { %>
            <a href="/login" class="item nav-login"><span><%=t.login%></span></a>
            <a href="/register" class="item nav-register"><span><%=t.register%></span></a>
        <% } %>
    </div>
    <div class="menu-config hidden">
        <div class="categories-config">
            <span>☺</span>
        </div>
        <div class="options-config">
            <h2>EM CONSTRUÇÃO!</h2>
            <h2>Interface</h2>
            <div class="interface-config section">
                <div><input type="checkbox">Paralax</button></div>
                <div><input type="checkbox">Vagalumes</button></div>
                <div><input type="checkbox">Explosões</button></div>
            </div>
        </div>
        <div class="close-config">

        </div>
    </div>
    <script src="assets/js/nav.bundle.js"></script>
</nav>
