<nav>
    <div class="nav-left">
        <div class="menu">•••</div>
        <div class="arcade-nav"><%=t.arcade%></div>
        <div class="mult-nav"><%=t.multiplayer%></div>
        <div class="rank-nav"><%=t.rank%></div>
    </div>
    <div class="nav-center">
        <span class="logo-text">Typerist</span>
    </div>
    <div class="nav-right">
        <% if (user) { %>
            <div class="user-info">
                <span>Olá</span>, <strong><%= user.nickname%></strong>
                <a href="/logout" class="logout"><%=t.leave%></a>
            </div>
        <% } else { %>
            <a href="/login"><%=t.login%></a>
            <a href="/register"><%=t.register%></a>
        <% } %>
    </div>
</nav>